# Virtual environment
venv/
env/
.venv/

# Python
__pycache__/
*.py[cod]
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Dataset besar (opsional, kalau >100MB)
# data/*.csv